body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

section{
    height: 500px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 50px;
}

#main-menu{
    background-color: black;
    padding: 15px;
    text-align: right;

}

#main-menu a{
    text-decoration: none;
    color: #3780e5;
    font-size: 18px;
    margin: 20px;
}

h1{
    color: rgb(77, 76, 76);
}

p{
    font-size: 15px;
}

.banner-section{
    display: flex;
}

.banner-title{
    width: 50%;
    margin-top: 40px;
    margin-left: 60px;
}

.banner-title h1{
    font-size: 40px;
    font-weight: 900;
}

h1 span{
    color: #4834d4;
}

.banner-title p{
    color: rgb(143, 138, 138);
    font-weight: 500;
    margin-bottom: 50px;
    width: 70%;
}

.banner-title a{
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    font-weight: 500;
    background-image: linear-gradient(#100f43, #708bdb);
}

.banner-image{
    width: 80%;
}

.banner-image img{
    width: 60%;
    display: block;
    margin: auto;
}

.about-me{
    display: flex;
    background-image: url(img/Frame57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.person-image{
    width: 50%;
    margin-top: 10px;
}

.person-image img{
    width: 45%;
    display: block;
    margin: auto;
}

.person-details{
    width: 50%;
    margin-top: 120px;
}

.person-details h2{
    color: rgb(77, 76, 76);
}

.person-details p{
    width: 60%;
    margin-bottom: 50px;
}

.person-details a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border-radius: 25px;
    font-weight: 500;
    background-image: linear-gradient(#100f43, #708bdb);
}

.all-recipe{
    height: 600px;
}

.recipe-header{
    text-align: center;
}

.recipe-item{
    display: flex;
}

.recipe-item-list{
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgb(197, 196, 196);
    border-image-slice: 1;
    margin: 50px;
    padding-top: 15px;
}

.recipe-item-list img{
    width: 90%;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 30px;
}

.recipe-item-list h3{
    margin: 40px 0 15px 15px;
    font-weight: 900;

}
.recipe-item-list p{
    margin: 15px 5px 25px 15px;
    line-height: 25px;
}

.contact-us{
    width: 100%;
    display: flex;
}

.contact-title{
    background-image: url(img/contact.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
}

.contact-title p{
    text-align: center;
    font-size: 20px;
    margin-top: 250px;
    margin-left: 200px;
}

.contact-form{
    width: 50%;

}

.contact-form h1{
    text-align: center;
    font-size: 40px;
}

.contact-form form{
    margin-left: 40px;
}

footer{
    height: 200px;
    background-color: black;
    text-align: center;
}

.button{
    margin-top: 20px;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    font-weight: 500;
    background-image: linear-gradient(#100f43, #708bdb);
}

footer h1{
    padding-top: 50px;
}

footer p{
    color: white;
}
